:root {
  // colors
  --primary-blue: hsl(206deg 94% 38%);
  --primary-dark: hsl(0deg 0% 13%);
  --primary-white: hsl(0deg 100% 100%);

  // spacing
  --margin-xs: 0.5rem;
  --margin-s: 1rem;
  --margin-m: 1.5rem;
  --margin-l: 2rem;
  --margin-xl: 3rem;
}


